@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');


:root{
    --clr-purple:hsl(252, 66%, 62%);
    --clr-gold: hsl(28, 89%, 67%);
    --clr-pink:hsl(0, 78%, 79%);
    --clr-orange:hsl(7,77%,66%);
    --clr-green:hsl(172,46%,57%);
    --clr-dark-purple:hsl(314,45%,23%);
    --clr-black:hsl(0,0%,1%);
    --clr-gray:hsl(30,5%,45%);
    --clr-neutral:hsl(28,100%,97%);

    --ff-primary:'Plus Jakarta Sans', sans-serif;
    --ff-body:var(--ff-primary);
    --ff-heading:var(--ff-primary);

    --fw-regular:500;
    --fw-bold:700;
    

    --fs-h1:3.5rem;
    --fs-h2:2.5rem;
    --fs-h3:2rem;
    --fs-accent:1.5rem;    
    --fs-body:1.125rem;
    --fs-button:1rem;
}

@media (max-width: 69em){
    :root{
        --fs-h1:2.75rem;
        --fs-h2:2rem;
    }
}
@media(max-width: 43em){
    :root{
        --fs-h1:2.25rem;
        --fs-h2:1.625rem;
        --fs-h3:1.5rem;
        --fs-body:1rem;
        --fs-button:.875rem;

    }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font:inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body{
    height:100%;
}

/* Set core body defaults */
body {
  
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-primary);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}



/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility Classes */

.center-text{
    text-align: center;
}

.clr-black{
    background-color:var(--clr-black);
}
.clr-purple{
    background-color:var(--clr-purple);
}
.clr-gold{
    background-color:var(--clr-gold);
}
.clr-pink{
    background-color:var(--clr-pink);
}
.clr-orange{
    background-color:var(--clr-orange);
}
.clr-green{
    background-color:var(--clr-green);
}
.clr-dark-purple{
    background-color:var(--clr-dark-purple);
}
.clr-gray{
    background-color:var(--clr-gray);
}
.clr-neutral{
    background-color:var(--clr-neutral);
}


/* Styles */

body{
    background-color: var(--clr-neutral);
}

.container{
    max-width:1440px;
    margin: 0 auto;
    padding-inline:10%;
}

p{
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
    color:var(--clr-gray);
}

button{
    color:var(--clr-neutral);
    font-size: var(--fs-button);
    width:14.25rem;
    height:3.5rem;
    border-radius:1.75rem;
    border:none;
    cursor: pointer;
}

.hov-purple:hover{
    background-color: var(--clr-purple);
}

.hov-gold:hover{
    background-color: var(--clr-gold);
}

@media(max-width: 69rem){
    .container{
        padding-inline: 2.5rem;
    }
}

/* Header */

header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top:34px ; 
}


/* Main */

/* Heading */



h1{
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
    color:var(--clr-black);
    margin: 70px 0 1.25rem;
    text-align: center;
}
 .heading p{
    text-align: center;
    max-width: 65%;
    margin: 0 auto;
 }

 @media(max-width:69rem){
    .heading p{
        max-width: 90%;
    }
 }

 /* Grid */

 .item{
    display: flex;
    flex-direction: column;
    justify-content:  space-between;
    border-radius: .5rem;
    padding: 1.5rem;   
 }

 .item span{
    
    font-weight: var(--fw-bold);
    font-size: var(--fs-accent);
    color: var(--clr-neutral);
 }

 .pattern{
    display: flex;
    width: max-content;
    align-self: flex-end;
 }
 
 .item-a{
    grid-area: graphic;
 }

 .item-b{
    grid-area: ui;
 }

 .item-c{
    grid-area: apps;
 }

 .item-d{
    grid-area: illus;
 }
 .item-e{
     grid-area: photo;
 }

 .item-f{
    grid-area: motion;
 }

 .blocks{
    padding-block:5rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 182px 182px;
    grid-template-areas: 
        'graphic graphic ui apps photo photo'
        'graphic graphic illus illus motion motion'
    ;
    gap:1.5rem;
 }

 @media (max-width:69rem){
    .blocks{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 182px 158px 182px;
        grid-template-areas: 
        'graphic graphic ui apps'
        'graphic graphic illus illus'
        'photo photo motion motion'
        ;
    }
 }

 @media(max-width:43rem){
    .blocks{
        grid-template-columns:(2, 1fr);
        grid-template-rows: 182px 158px 182px 158px 182px 182px;
        grid-template-areas: 
        'graphic graphic graphic graphic'
        'graphic graphic graphic graphic'
        'ui ui apps apps'
        'illus illus illus illus'
        'photo photo photo photo'
        'motion motion motion motion'
        ;
    }
 }

 /* Banner */

 .banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3.5rem;
    padding-bottom: 5.5rem;
 }

 .photo{
    max-width: 445px;
 }

 .banner-body{
    max-width: 50%;
 }

 .banner-body h2{
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    line-height: 3.25rem;
    padding-block:.25rem;    
 }

 .banner-body p{
    padding-block: 2.5rem;
 }

 @media(max-width:73.75rem){
    .photo{        
        margin-left: -10%;
    }
 }

 @media(max-width:56rem){
    .photo{
        max-width: 364px;
        margin-left: -13%;
    }
 }

 @media(max-width:43rem){
    .banner{
        padding-top: 1.25rem;
        flex-direction: column;
    }

    .photo{
        max-width: 300px;
        margin: 0 auto;
    }

    .banner-body{
        max-width: 85%;
        text-align: center;
        margin-top: 2.5rem;
    }

    .banner-body h2{
        line-height: normal;
    }
    .banner-body p{
        padding-block: 1.75rem;
     }
 }

 /* Slider */

 .track{
    padding-block:3rem ;
    max-width: 1440px;
    margin: 0 auto;
 }

 .track li,
 .slide{
    border-radius: 10px;
 }

 .controls{
    text-align: center;
   
 }

 button.slider-btn{
    background-color: var(--clr-black);
    border-radius: 50%;
    border:none;
    width: 4rem;
    height: 4rem;
    margin-inline:.5rem;   
 }
 button.slider-btn img{
    margin: 0 auto;
 }

 h3{
    text-align: center;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
 }

 /* CTA */

 .cta{
    display: flex;
   background-color: var(--clr-black);
   height: 20rem;
   border-radius: 10px;
   padding: 5rem 6rem 5rem 4rem;
   margin-top: 5.5rem;
   align-items: center;
   justify-content: space-between;
 }

 .cta-content{
    max-width: 33.75rem;
 }

 .cta h2{
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    color: var(--clr-neutral);
    margin-bottom: 2.5rem;    
 }

 .cta p{
    color: var(--clr-neutral)
 }

 @media(max-width:73.75rem){
    .cta{
        flex-direction: column;
        text-align: center;
        padding: 4.125rem;
        height: max-content;
    }
    .cta h2{
        margin-bottom: .5rem ;
    }
    .cta p{
        margin-block: 2rem;
    }
 }

 /* Footer */

 footer .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block:3.5rem ; 
}